.container {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 15px;
    margin-left: 50px;
    margin-top: 50px;
    margin-right: 60%;
    padding-left: 50px;
    padding-right: 40px;
    padding-bottom: 50px;
    text-align: center;
    font-family: 'Karla', sans-serif;
}

.buttonContainer {
    display: flex;
}

.photo {
    border-radius: 5px;
}

.deleteButton {
    background-color: rgb(199, 26, 26);
    color: white;
    border: 0px solid;
    border-radius: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 15px

}

.openImageButton {
    border: 0px solid;
    color: rgb(66, 59, 59);
    background-color: rgb(212, 219, 207);
    border-radius: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;

}